<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>A Basic HTML5 Template</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">

  <meta property="og:title" content="A Basic HTML5 Template">
  <meta property="og:type" content="website">
  <meta property="og:description" content="A simple HTML5 Template for new projects.">
</head>

<body>
    <h1>Hello world</h1>
    <p>This is actually some proper HTML, on a proper web page.</p>
    <p>Your name is {{name}}</p>

    <ul>
    {% for user_id, user in users.items() %}
    <li>{{user_id}} Name: {{user.name}}. Job: {{user.job}}.</li>
    {% endfor %}
    </ul>
</body>
</html>
