#bigReadButton{
    
    background-color: red;
    color: white;
    font-size: 34px;
    font-weight: 700;
}

#gameOver{
    background-color: yellow;
    color: red;
    font-size: 100px;
    font-weight: 700;
}

